{% extends "base.html" %}

{% block head %}
    <title>Questions | Main Page</title>
{% endblock %}

{% block body %}
<div class="maincontainer">
    <h1>Welcome {{ name }}</h1>

    <form action="/logout" method="POST">
        <button type="submit" class="button">Logout</button>
    </form>

    <div class="content-create">
        <h2>Create Content</h2>
        <p>If you wish to create content, press the button below!</p>
        <form action="/create" method="post">
            <button type="submit" class="button">Create</button>
        </form>
    </div>

    <div class="remove-container">
        <h2>Remove Content</h2>
        <p>If you wish to remove content, press the button below!</p>
        <form action="/remove" method="post">
            <button type="submit" class="button">Remove</button>
        </form>
    </div>

    <div class="start-container">
        <h2>Start Quiz</h2>
        <p>If you wish to start the quiz, press the button below!</p>
        <form action="/quiz" method="post">
            <button type="submit" class="button">Start Quiz</button>
        </form>
    </div>
</div>
{% endblock %}
