{% extends "base.html" %}

{% block head %}
    <title> Questions | Main Page </title>
{% endblock %}

{% block body %}
    <div class="maincontainer">
        <div class="content-create">
            <form action="/create" method="post">
            <h1>If you wish to create content, press the button below!</h1>
            <a href="/create"></a><button type="submit" name="action" value="create">Create</button>
            </form>
        </div>
        <div class="remove-container">
            <form action="/remove" method="post">
            <h1>If you wish to remove content, press the button below!</h1>
            <a href="/remove"></a><button type="submit" name="action" value="remove">Remove</button>
            </form>
        </div>

        <div class="start-container">
            <form action="/quiz" method="post">
            <h1>If you wish to start the quiz, press the button below!</h1>
            <a href="/quiz"></a><button type="submit" name="action" value="start_quiz">Start Quiz</button>
            </form>
        </div>
    </div>
{% endblock %}
