{% extends "base.html" %}

{%block head %}
    <title>Remove Question</title>
{% endblock %}
{% block body %}
<div class="create-question-container">
        <div class="create-container">
            <form action="/remove" method="POST">
                <input type="text" name="questionid" id="questionid" maxlength="2"  placeholder="Enter your question ID that you want to remove!" required>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                <button type="submit">Remove</button>
                <a href="/" class="button">Cancel</a> 
           </form>
        </div>
        {% for question in questions %}
            <div class="question-container">
                <p>Question ID: {{ question.id }}</p>
                <p>Q: {{ question.question }}</p>
                <p>A: {{ question.anwser }}</p>
            </div>
        {% endfor %}
    </div>
{%endblock%}